<a href="https://colab.research.google.com/github/cuauhtemocbe/Python-Basics/blob/main/1.%20Tipos%20de%20datos%20b%C3%A1sicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de Datos

Los tipos de datos son un conjunto de valores con características y propiedades determinadas. 

Los datos básicos son:

1. **Booleanos :** *bool* = True, False
2. **Númericos:**
  - **Enteros :** *int* = 10
  - **Flotantes :** *float* = 10.4
3. **Cadenas de caracteres:** *str* = "Hola, mundo!"

# Variables

Es una **"caja"** en la que podemos guardar un valor. Esta **"caja"** tiene un espacio en la memoria.

Se pueden represtarn con letras, palabras completas. Ej.
```
- x = 1 -> esto es un entero o int
- precio_dolar = 19.94 -> esto es un flotante o float
- capital_mexico = "cdmx" -> texto o str
- bebo_poco = True -> boleano o bool
```

**Nombres NO válidos:**

- Números: 1, 2, 3, ..., n
- Palabras **reservadas** o **integradas** (built-in) en Python: str, int, float, print

# Funciones
Son instrucciones de código reutilizables que llevan a cabo una tarea en particular

1. **type** - Regresa el tipo de dato del objeto
2. **print** - Función que envía la información solicitada a la ventana de consola

# Lab: Tipos de Datos

## Tipo int

In [6]:
print("hello world")
entero_2 = 1234
entero = 124 # int

hello world

In [2]:
print(entero)
print(entero)

124
124

In [3]:
print(type(entero))

<class 'int'>

## Tipo float

In [4]:
dolar = 19.94

In [ ]:
print(dolar)

In [ ]:
print(type(dolar))

## Tipo bool

In [ ]:
bebo_poco = True

In [ ]:
print(bebo_poco)

In [ ]:
print(type(bebo_poco))

## Tipo str

In [ ]:
capital_mexico = "cdmx"

In [ ]:
capital_mexico = 'cdmx'

In [ ]:
print(capital_mexico)

In [ ]:
print(type(capital_mexico))

## Casteo

Nos permite convertir de un tipo de dato a otro. Para ello usamos **constructor functions**:
- int()
- float()
- str()

**Nota:** En el código de arriba, nota que al ser funciones, se necesita paréntesis.

In [ ]:
x = '2'
print(x)

In [ ]:
print(x * 3)

In [ ]:
x_int = int(x)

In [ ]:
print(x_int)

In [ ]:
print(type(x_int))

In [ ]:
dolar = float(19.94)

In [ ]:
print(type(dolar))

# Variables

In [ ]:
texto = "Hola Mundo" # Cadenas de caracteres o str
type(texto) # comprobar tipo de dato

In [ ]:
numero: int = 23 # número entero
type(numero) # comprobar tipo de dato

In [ ]:
flotante = 23.01 # número flotante 
type(flotante) # comprobar tipo de dato

### Asignación de múltiples valores a múltiples variables

In [ ]:
a = 5
b = 3.2
c = "Hola"

print(a, type(a))
print(b, type(b))
print(c, type(c))

In [ ]:
a, b, c = 5, 3.2, "Hola" 

print(a, type(a))
print(b, type(b))
print(c, type(c))

Asignar el mismo valor a múltiples variables

In [ ]:
x = True
y = True
z = True

print(x, y, z, type(x), type(y), type(z))

In [ ]:
x = 'letra'
y = 'letra'
z = 'letra'

print(x, y, z, type(x), type(y), type(z))

In [ ]:
x = y = z = 'letra'
print(x, y, z, type(x), type(y), type(z))

# Ejercicios

1. Crea la variable `hello_world` y asignale el valor `"Hello, world!"`. ¿Qué tipo de dato es?

In [ ]:
# Aquí va tu código

2. **Dato final** <br>
a) Crea la variable `numero_ocho` y asignale el valor `"8"` (**Observa** que el valor ocho se encuentra entre comillas). <br>
b) Realiza un **casteo**, para convertir un *string* a *integer*. <br>
c) Usa la función *type* y verifica que sea de tipo **int**

In [ ]:
# Aquí va tu código

3. Crea tres variables y nombralas como quieras. 
Asignales un valor tal que sumados den 13.

In [ ]:
# Aquí va tu código

4. Crea una variable de tipo *bool*

In [ ]:
# Aquí va tu código

5. **Doble Casteo** <br>
Convierte el string `"2.0"` a integer<br>
a) Crea una variable de tipo str,<br>
b) Realiza un casteo para convertirlo a tipo float, <br>
c) y finalmente realiza otro casteo a tipo int

In [ ]:
# Aquí va tu código