<a href="https://colab.research.google.com/github/cuauhtemocbe/Python-Basics/blob/main/Ejercicios/Ejercicios_Funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Crea una función para identificar si un número es par o no lo es. <br>
inputs: número <br>
outputs: booleano

2. Crea una función para convertir de grados centigrados a Fahrenheit. <br>
```
ºF = ºC x 1.8 + 32.
```
inputs: número <br>
outputs: número <br>

Prueba la función dentro de un ciclo for con los siguientes números:

In [8]:
#@title { run: "auto", vertical-output: false }
import pandas as pd
pd.DataFrame(columns=['Temperatura', 'ºC', 'ºF'],
             index=[1, 2, 3, 4],
             data=[['Punto ebullición agua', 100, 212],
                   ['Punto congelación agua', 0, 32], 
                   ['Temperatura corporal promedio del cuerpo humano', 37, 98.6], 
                   ['Temperatura ambiente confortable', 20, 68]
                   ])

                                       Temperatura   ºC     ºF
1                            Punto ebullición agua  100  212.0
2                           Punto congelación agua    0   32.0
3  Temperatura corporal promedio del cuerpo humano   37   98.6
4                 Temperatura ambiente confortable   20   68.0

3. Crea una función para convertir de grados fahrenheit a centigrados . <br>

inputs: número <br>
outputs: número

4. Crea una función para generar una secuencia fibonacci para la cantidad de número fibonacci solicitados:
```
>>> fibonacci(8)
[0, 1, 1, 2, 3, 5, 8, 13]
```

inputs: número <br>
outputs: lista